:root {
    --transition: all 0.3s ease-in-out;
    --primary-color: #ffe668;
    --primary-hover: #d5ae13;
    --dark-color: #111827;
    --dark-blue-color: #1F2937;
    --red-color: #EF4444;
    --yellow-color: #EAB308;
    --light-color: #F8FAFC;
    --light-gray-color: #fafafa;
    --gray-900: #A47864;
    --gray-800: #27272A;
    --gray-700: #3a3a3d;
    --gray-600: #52525B;
    --gray-500: #71717A;
    --gray-400: #A1A1AA;
    --gray-300: #D4D4D8;
    --gray-200: #e2e2e5;
    --gray-100: #f1f1f1;
    --bg-primary: #f2e7e5;
    --shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    --shadow-1: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
    --shadow-2: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    --shadow-3: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
    --size-heading: calc(24 / 14 * 1em);
    --size-heading-1: calc(22 / 14 * 1em);
    --size-heading-2: calc(18 / 14 * 1em);
    --size-description: 1.2em;
    --size-title: 1.2em;
    --size-subtitle: 1.1em;
    --size-default: 1em;
    --size-sub: .95em;
    --size-small: .9em;
    --aspect-ratio-1000x556: calc((556 / 1000) * 100%);
}

@font-face {
    font-family: 'SVN-Gilroy Bold';
    src: url('../fonts/SVN-Gilroy Bold.otf');
}

@font-face {
    font-family: 'SVN-Gilroy Medium';
    src: url('../fonts/SVN-Gilroy Medium.otf');
}

@media screen and (max-width: 1399px) {
    :root {
        --size-heading: calc(22 / 14 * 1em);
        --size-heading-1: calc(20 / 14 * 1em);
    }
}

html {
    scroll-behavior: smooth !important;
    font-size: 16px;
}

body {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 100%;
    background-color: var(--bs-white);
    color: var(--gray-800);
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

button, button:hover, button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: #8f8d8d !important;
}

.transition-default {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

.pseudo:before,
.pseudo:after {
    position: absolute;
    content: "";
    display: block;
}

.background-cover {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.limit-lines {
    --lines: 3;
    --line-height: 1.5;
    --font-size: 0.875rem;
    --calc-max-height: calc(var(--line-height) * var(--lines) * var(--font-size));
    display: inline-block;
    display: -webkit-box;
    width: 100%;
    max-height: var(--calc-max-height);
    height: var(--calc-max-height);
    font-size: var(--font-size);
    line-height: var(--line-height);
    line-clamp: var(--lines);
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hidden-effect {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.hidden-effect:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-10 {
    z-index: 10;
}

/*
    Start table of content
*/
.theme-toc {
    border: 1px solid #e9e9e9;
    background: #faf9fa;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 15px;
    min-width: 200px;
}

.theme-toc > .nav {
    padding: 0 0 8px;
    width: 100%;
}

.theme-toc .nav {
    display: inline-flex;
    flex-direction: column;
}

.theme-toc .nav > li > a {
    padding-top: 3px;
    padding-right: 15px;
    padding-bottom: 3px;
    display: block;
    color: var(--bs-gray-dark);
    font-size: .95rem;
}

.theme-toc .nav > li > a:hover,
.theme-toc .nav > li > a:active {
    color: var(--primary-color);
}

.theme-toc .nav > li > a.toc-link-1 {
    padding-left: 15px;
}

.theme-toc .nav > li > a.toc-link-2 {
    padding-left: 30px;
}

.theme-toc .nav > li > a:not(.toc-link-1):before {
    content: "-";
    margin-right: 9px;
}

.theme-toc .nav > li > a.toc-link-3 {
    padding-left: 45px;
}

.theme-toc .nav > li > a.toc-link-4 {
    padding-left: 60px;
}

.theme-toc .nav > li > a.toc-link-5 {
    padding-left: 75px;
}

.theme-toc .nav > li > a.toc-link-6 {
    padding-left: 90px;
}

.theme-toc .nav > li.toc-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
}

.theme-toc .nav > li.toc-heading > p {
    color: var(--bs-gray-dark);
    padding: 10px 0 12px;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    margin-bottom: 0;
}

.theme-toc .nav > li.toc-heading > p > a {
    color: var(--primary-color);
    margin-left: 4px;
    font-size: .9rem;
}

.theme-toc .nav > li.toc-heading > p > a:hover,
.theme-toc .nav > li.toc-heading > p > a:active {
    color: var(--primary-hover);
}

.theme-toc .nav .nav {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .theme-toc {
        width: 100%;
    }
}

.swal2-popup {
    font-size: 14px;
}

.swal2-popup .swal2-title {
    font-size: var(--size-heading);
    color: var(--bs-gray-700);
    font-weight: 700;
}

.swal2-popup .swal2-html-container {
    color: var(--gray-500);
    font-size: var(--size-description);
}

.swal2-popup .swal2-confirm,
.swal2-popup .swal2-cancel,
.swal2-popup .swal2-deny {
    font-size: var(--size-default);
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 15px 5px;
    border-radius: 5px;
    transition: var(--transition);
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5px;
    margin: 0 5px;
}

.swal2-popup .swal2-confirm {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--bs-white);
}

.swal2-popup .swal2-confirm:hover {
    border: 1px solid var(--primary-hover);
    background: var(--primary-hover);
    color: var(--bs-white);
}

.swal2-popup .swal2-cancel,
.swal2-popup .swal2-deny {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-hover);
}

.swal2-popup .swal2-cancel:hover,
.swal2-popup .swal2-deny:hover {
    border: 1px solid var(--primary-hover);
    background: var(--primary-hover);
    color: var(--bs-white);
}
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-grey {
    background-color: #D0D3D4;
    color: #454545;
}
.text-yellow {
    background-color: #FEF9E7;
    color: #D68910;
}
.text-blue {
    background-color: #EBF5FB;
    color: #2980B9;
}
.text-green {
    background-color: #EAFAF1;
    color: #27AE60;
}
.text-red {
    background-color: #FDEDEC;
    color: #CB4335;
}
.txt-primary {
    color: var(--primary-color);
}
.bg-white-light {
    background-color: var(--bg-primary);
}
.font-bold {
    font-weight: bold;
}
.font-40 {
    font-size: 40px;
}
.font-42 {
    font-size: 42px;
}
.font-w-600 {
    font-weight: 600;
}
.text-blue-bold {
    color: #0b0b45;
}
.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}